# Dataset Merging

Here we aim to merge the datasets together to clearly visualize relations between the features of each dataset

In [2]:
import pandas as pd

account = pd.read_csv('C:/Users/galvanm/python/BucksHackathon25/BucksBusinessObjectives/BucksDatasets/AccountLevel.csv')
game = pd.read_csv('C:/Users/galvanm/python/BucksHackathon25/BucksBusinessObjectives/BucksDatasets/GameLevel.csv')
seat = pd.read_csv('C:/Users/galvanm/python/BucksHackathon25/BucksBusinessObjectives/BucksDatasets/SeatLevel.csv')

In [3]:
account_seat = pd.merge(seat, account, on='AccountNumber', how='inner')

account_seat.columns

Index(['Season_x', 'AccountNumber', 'Game', 'GameDate', 'GameTier', 'Season_y',
       'SingleGameTickets', 'PartialPlanTickets', 'GroupTickets', 'STM',
       'AvgSpend', 'GamesAttended', 'FanSegment', 'DistanceToArena',
       'BasketballPropensity', 'SocialMediaEngagement'],
      dtype='object')

In [4]:
print("Acct‑level dupes:", account['AccountNumber'].duplicated().sum())

Acct‑level dupes: 1183

In [5]:
print(account['AccountNumber'].loc[15667])

duplicates = account[account.duplicated(subset='AccountNumber', keep=False)]

# optional: sort so like IDs are together
duplicates = duplicates.sort_values('AccountNumber')

duplicates.head()

15668

,Season,AccountNumber,SingleGameTickets,PartialPlanTickets,GroupTickets,STM,AvgSpend,GamesAttended,FanSegment,DistanceToArena,BasketballPropensity,SocialMediaEngagement
1,2023,2,2,0,0,0,116.00,1,A,47.0,485.0,Low
15835,2024,2,2,0,0,0,95.00,0,A,47.0,916.0,High
16274,2024,34,0,0,2,0,4.32,0,B,4.0,502.0,Medium
33,2023,34,0,0,3,0,71.00,1,B,4.0,335.0,Medium
59,2023,60,2,0,0,0,79.00,0,D,17.0,531.0,Low

In [6]:
account_unique = account.drop_duplicates(subset='AccountNumber')

In [7]:
sorted_df = account.sort_values('AccountNumber')
sorted_df.head()

,Season,AccountNumber,SingleGameTickets,PartialPlanTickets,GroupTickets,STM,AvgSpend,GamesAttended,FanSegment,DistanceToArena,BasketballPropensity,SocialMediaEngagement
0,2023,1,0,0,0,0,467.0,0,F,12.0,872.0,Low
15835,2024,2,2,0,0,0,95.0,0,A,47.0,916.0,High
1,2023,2,2,0,0,0,116.0,1,A,47.0,485.0,Low
2,2023,3,3,0,0,0,107.0,1,B,6.0,896.0,Low
3,2023,4,0,0,3,0,27.0,1,C,3.0,467.0,High

In [8]:
account_2024 = account[account['Season']==2024]
account_2024.sort_values('AccountNumber', inplace=True)

account_2023 = account[account['Season']==2023]
account_2023.sort_values('AccountNumber', inplace=True)

seat_2024 = seat[seat['Season']==2024]
seat_2024.sort_values('AccountNumber', inplace=True)

seat_2023 = seat[seat['Season']==2023]
seat_2023.sort_values('AccountNumber', inplace=True)

C:\Users\galvanm\AppData\Local\Temp\ipykernel_26724\1648830657.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  account_2024.sort_values('AccountNumber', inplace=True)
C:\Users\galvanm\AppData\Local\Temp\ipykernel_26724\1648830657.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  account_2023.sort_values('AccountNumber', inplace=True)
C:\Users\galvanm\AppData\Local\Temp\ipykernel_26724\1648830657.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seat_2024.sort_values('AccountNumber', inplace=True)
C:\Users\galvanm\AppData\Local\Temp\ipykernel_26724\1648830657.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  seat_2023.sort_values('AccountNumber', inplace=True)

In [9]:
account_2024.head()

,Season,AccountNumber,SingleGameTickets,PartialPlanTickets,GroupTickets,STM,AvgSpend,GamesAttended,FanSegment,DistanceToArena,BasketballPropensity,SocialMediaEngagement
15835,2024,2,2,0,0,0,95.00,0,A,47.0,916.0,High
16274,2024,34,0,0,2,0,4.32,0,B,4.0,502.0,Medium
16472,2024,60,1,0,0,0,6.00,1,D,17.0,936.0,Medium
16580,2024,73,0,0,3,0,49.00,1,D,9.0,NaN,Low
16612,2024,76,3,0,0,0,82.00,1,A,34.0,914.0,Medium

In [10]:
account_2023.head()

,Season,AccountNumber,SingleGameTickets,PartialPlanTickets,GroupTickets,STM,AvgSpend,GamesAttended,FanSegment,DistanceToArena,BasketballPropensity,SocialMediaEngagement
0,2023,1,0,0,0,0,467.0,0,F,12.0,872.0,Low
1,2023,2,2,0,0,0,116.0,1,A,47.0,485.0,Low
2,2023,3,3,0,0,0,107.0,1,B,6.0,896.0,Low
3,2023,4,0,0,3,0,27.0,1,C,3.0,467.0,High
4,2023,5,0,0,2,0,14.0,1,A,4.0,582.0,Medium

In [11]:
seat_2024.head()

,Season,AccountNumber,Game,GameDate,GameTier
94012,2024,2,2025-02-20 Los Angeles Clippers,2025-02-20,C
94013,2024,2,2025-02-20 Los Angeles Clippers,2025-02-20,C
119608,2024,34,2024-11-22 Indiana Pacers,2024-11-22,B
119609,2024,34,2024-11-22 Indiana Pacers,2024-11-22,B
125861,2024,60,2024-11-30 Washington Wizards,2024-11-30,D

In [12]:
seat_2023.head()

    Season  AccountNumber                            Game    GameDate GameTier
0     2023              1  2024-01-24 Cleveland Cavaliers  2024-01-24        D
23    2023              1  2024-01-24 Cleveland Cavaliers  2024-01-24        D
22    2023              1  2024-01-24 Cleveland Cavaliers  2024-01-24        D
21    2023              1  2024-01-24 Cleveland Cavaliers  2024-01-24        D
20    2023              1  2024-01-24 Cleveland Cavaliers  2024-01-24        D

In [13]:
account_2024.to_csv(r"C:\Users\galvanm\python\BucksHackathon25\BucksBusinessObjectives\BucksDatasets\AccountLevel_2024.csv")
account_2023.to_csv(r"C:\Users\galvanm\python\BucksHackathon25\BucksBusinessObjectives\BucksDatasets\AccountLevel_2023.csv")
seat_2024.to_csv(r"C:\Users/galvanm/python/BucksHackathon25/BucksBusinessObjectives/BucksDatasets/SeatLevel_2024.csv")
seat_2024.to_csv(r"C:\Users/galvanm/python/BucksHackathon25/BucksBusinessObjectives/BucksDatasets/SeatLevel_2023.csv")
#"C:\Users\galvanm\python\BucksHackathon25\BucksBusinessObjectives\BucksDatasets\AccountLevel.csv"

In [14]:
ALSL_2024 = pd.merge(seat_2024, account_2024, on='AccountNumber', how='inner')
ALSL_2023 = pd.merge(seat_2023, account_2023, on='AccountNumber', how='inner')

In [15]:
ALSL_2024.sort_values('AccountNumber', inplace=True)
ALSL_2024.head()

,Season_x,AccountNumber,Game,GameDate,GameTier,Season_y,SingleGameTickets,PartialPlanTickets,GroupTickets,STM,AvgSpend,GamesAttended,FanSegment,DistanceToArena,BasketballPropensity,SocialMediaEngagement
0,2024,2,2025-02-20 Los Angeles Clippers,2025-02-20,C,2024,2,0,0,0,95.00,0,A,47.0,916.0,High
1,2024,2,2025-02-20 Los Angeles Clippers,2025-02-20,C,2024,2,0,0,0,95.00,0,A,47.0,916.0,High
2,2024,34,2024-11-22 Indiana Pacers,2024-11-22,B,2024,0,0,2,0,4.32,0,B,4.0,502.0,Medium
3,2024,34,2024-11-22 Indiana Pacers,2024-11-22,B,2024,0,0,2,0,4.32,0,B,4.0,502.0,Medium
4,2024,60,2024-11-30 Washington Wizards,2024-11-30,D,2024,1,0,0,0,6.00,1,D,17.0,936.0,Medium

In [16]:
ALSL_2023.sort_values('AccountNumber', inplace=True)
ALSL_2023.head()

,Season_x,AccountNumber,Game,GameDate,GameTier,Season_y,SingleGameTickets,PartialPlanTickets,GroupTickets,STM,AvgSpend,GamesAttended,FanSegment,DistanceToArena,BasketballPropensity,SocialMediaEngagement
0,2023,1,2024-01-24 Cleveland Cavaliers,2024-01-24,D,2023,0,0,0,0,467.0,0,F,12.0,872.0,Low
23,2023,1,2024-01-24 Cleveland Cavaliers,2024-01-24,D,2023,0,0,0,0,467.0,0,F,12.0,872.0,Low
22,2023,1,2024-01-24 Cleveland Cavaliers,2024-01-24,D,2023,0,0,0,0,467.0,0,F,12.0,872.0,Low
21,2023,1,2024-01-24 Cleveland Cavaliers,2024-01-24,D,2023,0,0,0,0,467.0,0,F,12.0,872.0,Low
20,2023,1,2024-01-24 Cleveland Cavaliers,2024-01-24,D,2023,0,0,0,0,467.0,0,F,12.0,872.0,Low

In [17]:
ALSL_2024.to_csv(r"C:\Users\galvanm\python\BucksHackathon25\BucksBusinessObjectives\BucksDatasets\ALSL_2024.csv")
ALSL_2023.to_csv(r"C:\Users\galvanm\python\BucksHackathon25\BucksBusinessObjectives\BucksDatasets\ALSL_2023.csv")