# Dataset Merging

Here we aim to merge the datasets together to clearly visualize relations between the features of each dataset

In [2]:
import pandas as pd

account = pd.read_csv('C:/Users/galvanm/python/BucksHackathon25/BucksBusinessObjectives/BucksDatasets/AccountLevel.csv')
game = pd.read_csv('C:/Users/galvanm/python/BucksHackathon25/BucksBusinessObjectives/BucksDatasets/GameLevel.csv')
seat = pd.read_csv('C:/Users/galvanm/python/BucksHackathon25/BucksBusinessObjectives/BucksDatasets/SeatLevel.csv')

In [3]:
account_seat = pd.merge(seat, account, on='AccountNumber', how='inner')

account_seat.columns

Index(['Season_x', 'AccountNumber', 'Game', 'GameDate', 'GameTier', 'Season_y',
       'SingleGameTickets', 'PartialPlanTickets', 'GroupTickets', 'STM',
       'AvgSpend', 'GamesAttended', 'FanSegment', 'DistanceToArena',
       'BasketballPropensity', 'SocialMediaEngagement'],
      dtype='object')

In [4]:
print("Acct‑level dupes:", account['AccountNumber'].duplicated().sum())

Acct‑level dupes: 1183

In [5]:
print(account['AccountNumber'].loc[15667])

duplicates = account[account.duplicated(subset='AccountNumber', keep=False)]

# optional: sort so like IDs are together
duplicates = duplicates.sort_values('AccountNumber')

duplicates.head()

15668

,Season,AccountNumber,SingleGameTickets,PartialPlanTickets,GroupTickets,STM,AvgSpend,GamesAttended,FanSegment,DistanceToArena,BasketballPropensity,SocialMediaEngagement
1,2023,2,2,0,0,0,116.00,1,A,47.0,485.0,Low
15835,2024,2,2,0,0,0,95.00,0,A,47.0,916.0,High
16274,2024,34,0,0,2,0,4.32,0,B,4.0,502.0,Medium
33,2023,34,0,0,3,0,71.00,1,B,4.0,335.0,Medium
59,2023,60,2,0,0,0,79.00,0,D,17.0,531.0,Low

In [6]:
account_unique = account.drop_duplicates(subset='AccountNumber')

In [7]:
sorted_df = account.sort_values('AccountNumber')
sorted_df.head()

,Season,AccountNumber,SingleGameTickets,PartialPlanTickets,GroupTickets,STM,AvgSpend,GamesAttended,FanSegment,DistanceToArena,BasketballPropensity,SocialMediaEngagement
0,2023,1,0,0,0,0,467.0,0,F,12.0,872.0,Low
15835,2024,2,2,0,0,0,95.0,0,A,47.0,916.0,High
1,2023,2,2,0,0,0,116.0,1,A,47.0,485.0,Low
2,2023,3,3,0,0,0,107.0,1,B,6.0,896.0,Low
3,2023,4,0,0,3,0,27.0,1,C,3.0,467.0,High

In [22]:
account_2024 = account[account['Season']==2024]
account_2023 = account[account['Season']==2024]

seat_2024 = seat[seat['Season']==2024]
seat_2023 = seat[seat['Season']==2023]

In [24]:
account_2024.to_csv(r"C:\Users\galvanm\python\BucksHackathon25\BucksBusinessObjectives\BucksDatasets\AccountLevel_2024.csv")
account_2023.to_csv(r"C:\Users\galvanm\python\BucksHackathon25\BucksBusinessObjectives\BucksDatasets\AccountLevel_2023.csv")
seat_2024.to_csv(r"C:\Users/galvanm/python/BucksHackathon25/BucksBusinessObjectives/BucksDatasets/SeatLevel_2024.csv")
seat_2024.to_csv(r"C:\Users/galvanm/python/BucksHackathon25/BucksBusinessObjectives/BucksDatasets/SeatLevel_2023.csv")
#"C:\Users\galvanm\python\BucksHackathon25\BucksBusinessObjectives\BucksDatasets\AccountLevel.csv"