# <font color='#06402B'> Milwaukee Bucks Hackathon 25' </font>
Welcome to the Jupyter Notebook for the Milwaukee Bucks Hackathon! Here, we analyze the datasets given to us from the Milwaukee Bucks, and find and analyze relationships within customer data and with the proposed plans by the Marketing Teams.

In [1]:
# all the necessary imports

# importing pandas
import pandas as pd

# importing the IPython library
from IPython.display import display

In [2]:
# convert the excel sheets into a .csv file
account_xlsx  = "BucksAssignment/Hackathon Prompt 1 Data/Prompt1AccountLevel.xlsx"
account_csv = "BucksDatasets/AccountLevel.csv"

game_xlsx = "BucksAssignment/Hackathon Prompt 1 Data/Prompt1GameLevel.xlsx"
game_csv = "BucksDatasets/GameLevel.csv"

seat_xlsx = "BucksAssignment/Hackathon Prompt 1 Data/Prompt1SeatLevel.xlsx"
seat_csv = "BucksDatasets/SeatLevel.csv"

# reading the excel file
account_df = pd.read_excel(account_xlsx, engine='openpyxl')
game_df = pd.read_excel(game_xlsx, engine="openpyxl")
seat_df = pd.read_excel(seat_xlsx, engine="openpyxl")

# saving as a csv file
account_df.to_csv(account_csv, index=False)
game_df.to_csv(game_csv, index=False)
seat_df.to_csv(seat_csv, index=False)

In [ ]:
# getting a summary of the account data frames
print("Using .info() on the Account Dataset")
display(account_df.info())

print("Using .describe() on the Account Dataset")
display(account_df.describe())

Using .info() on the Account Dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44211 entries, 0 to 44210
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Season                 44211 non-null  int64
 1   AccountNumber          44211 non-null  int64
 2   SingleGameTickets      44211 non-null  int64
 3   PartialPlanTickets     44211 non-null  int64
 4   GroupTickets           44211 non-null  int64
 5   STM                    44211 non-null  int64
 6   AvgSpend               44211 non-null  float64
 7   GamesAttended          44211 non-null  int64
 8   FanSegment             44211 non-null  object
 9   DistanceToArena        41088 non-null  float64
 10  BasketballPropensity   37214 non-null  float64
 11  SocialMediaEngagement  44211 non-null  object
dtypes: float64(3), int64(7), object(2)
memory usage: 4.0+ MB

None

Using .describe() on the Account Dataset

,Season,AccountNumber,SingleGameTickets,PartialPlanTickets,GroupTickets,STM,AvgSpend,GamesAttended,DistanceToArena,BasketballPropensity
count,44211.000000,44211.000000,44211.000000,44211.000000,44211.000000,44211.000000,44211.000000,44211.000000,41088.000000,37214.000000
mean,2023.645631,21116.251815,1.987582,0.836082,2.476669,0.049648,81.139832,1.262966,143.870668,689.229027
std,0.478327,12508.767388,15.080973,5.177241,178.657845,0.217220,94.742229,2.323687,329.215154,235.621148
min,2023.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,125.000000
25%,2023.000000,10169.500000,0.000000,0.000000,0.000000,0.000000,30.000000,1.000000,8.000000,481.000000
50%,2024.000000,20923.000000,2.000000,0.000000,0.000000,0.000000,62.000000,1.000000,30.000000,719.000000
75%,2024.000000,31975.500000,3.000000,0.000000,0.000000,0.000000,100.000000,1.000000,87.000000,923.000000
max,2024.000000,43028.000000,3120.000000,120.000000,37200.000000,1.000000,3297.000000,41.000000,4240.000000,993.000000

In [8]:
# getting a summary of the game level data frames
print("Using .info() on the Game Level Dataset")
display(game_df.info())

print("Using .describe() on the Game Level Dataset")
display(game_df.describe())

Using .info() on the Game Level Dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Game      82 non-null     object
 1   Giveaway  19 non-null     object
dtypes: object(2)
memory usage: 1.4+ KB

None

Using .describe() on the Game Level Dataset

                                 Game Giveaway
count                              82       19
unique                             82       13
top     2023-10-26 Philadelphia 76ers      Cap
freq                                1        5

In [10]:
# getting a summary of the seat level data frames
print("Using .info() on the Seat Level Dataset")
display(seat_df.info())

print("Using .describe() on the Seat Level Dataset")
display(seat_df.describe())

Using .info() on the Seat Level Dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493884 entries, 0 to 493883
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Season         493884 non-null  int64
 1   AccountNumber  493884 non-null  int64
 2   Game           493884 non-null  object
 3   GameDate       493884 non-null  datetime64[ns]
 4   GameTier       493884 non-null  object
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 18.8+ MB

None

Using .describe() on the Seat Level Dataset

              Season  AccountNumber                       GameDate
count  493884.000000  493884.000000                         493884
mean     2023.848608   20674.040811  2024-11-20 02:32:03.988628224
min      2023.000000       1.000000            2023-10-26 00:00:00
25%      2024.000000   15971.000000            2024-11-12 00:00:00
50%      2024.000000   20103.000000            2025-01-02 00:00:00
75%      2024.000000   26676.000000            2025-02-20 00:00:00
max      2024.000000   43028.000000            2025-04-13 00:00:00
std         0.358431    9970.546369                            NaN

In [21]:
# checking the number of null values in the account data frames
print("Any null values in Account: ", account_df.isnull().values.any())

# number of null values in the data frame
print("Number of Null Values in Account: \n", account_df.isnull().sum())

Any null values in Account:  True
Number of Null Values in Account:
 Season                      0
AccountNumber               0
SingleGameTickets           0
PartialPlanTickets          0
GroupTickets                0
STM                         0
AvgSpend                    0
GamesAttended               0
FanSegment                  0
DistanceToArena          3123
BasketballPropensity     6997
SocialMediaEngagement       0
dtype: int64

In [20]:
# checking the number of null values in the game level data frames
print("Any null values in Game Level: ", game_df.isnull().values.any())

# number of null values in the data frame
print("Number of Null Values in Game Level:\n ", game_df.isnull().sum())

Any null values in Game Level:  True
Number of Null Values in Game Level:
  Game         0
Giveaway    63
dtype: int64

In [19]:
# checking the number of null values in the seat level data frames
print("Any null values in Seat Level: ", seat_df.isnull().values.any())

# number of null values in the data frame
print("Number of Null Values in Seat Level: \n ",seat_df.isnull().sum())

Any null values in Seat Level:  False
Number of Null Values in Seat Level:
  Season           0
AccountNumber    0
Game             0
GameDate         0
GameTier         0
dtype: int64

In [23]:
# viewing the final datasets
display(account_df.head(5))
display(game_df.head(5))
display(seat_df.head(5))

,Season,AccountNumber,SingleGameTickets,PartialPlanTickets,GroupTickets,STM,AvgSpend,GamesAttended,FanSegment,DistanceToArena,BasketballPropensity,SocialMediaEngagement
0,2023,1,0,0,0,0,467.0,0,F,12.0,872.0,Low
1,2023,2,2,0,0,0,116.0,1,A,47.0,485.0,Low
2,2023,3,3,0,0,0,107.0,1,B,6.0,896.0,Low
3,2023,4,0,0,3,0,27.0,1,C,3.0,467.0,High
4,2023,5,0,0,2,0,14.0,1,A,4.0,582.0,Medium

                            Game   Giveaway
0  2023-10-26 Philadelphia 76ers        NaN
1       2023-10-29 Atlanta Hawks        Cap
2          2023-10-30 Miami Heat        NaN
3     2023-11-03 New York Knicks        NaN
4     2023-11-08 Detroit Pistons  Lunch Bag

   Season  AccountNumber                            Game   GameDate GameTier
0    2023              1  2024-01-24 Cleveland Cavaliers 2024-01-24        D
1    2023              1  2024-01-24 Cleveland Cavaliers 2024-01-24        D
2    2023              1  2024-01-24 Cleveland Cavaliers 2024-01-24        D
3    2023              1  2024-01-24 Cleveland Cavaliers 2024-01-24        D
4    2023              1  2024-01-24 Cleveland Cavaliers 2024-01-24        D