<h1 style="color: #8b5e3c;">Merging AccountLevel, Game Level & Seat Level</h1>
In this Jupyter Notebook, we aim to merge `AccountLevel`, `GameLevel` & `SeatLevel` datasets. The purpose of merging these datasets is that we would like to find any possible relationships between the features of all three datasets by combining them together.

<h3 style="color: #8b5e3c">Converting the CSV File to a Pandas Dataframe</h3>
In this section, we convert the `.csv` file into a pandas dataframe by importing pandas and using `.read_csv` to read the csv into a pandas data frame. Finally, we display the dataframes that we have created.

In [6]:
# importing the pandas library
import pandas as pd

# importing ipython display
from IPython.display import display

# importing the .csv files as dataframes
game_seat_df = pd.read_csv("C:/GitHub/BucksHackathon25/BucksBusinessObjectives/BucksDatasets/GLSL.csv").drop(columns="Unnamed: 0")
account_df = pd.read_csv("C:/GitHub/BucksHackathon25/BucksBusinessObjectives/BucksDatasets/AccountLevel.csv")
# displaying the data frames
display(game_seat_df)
display(account_df)

,Season,AccountNumber,Game,GameDate,GameTier,Giveaway
0,2023,1,2024-01-24 Cleveland Cavaliers,2024-01-24,D,Bucket Cap
1,2023,1,2024-01-24 Cleveland Cavaliers,2024-01-24,D,Bucket Cap
2,2023,1,2024-01-24 Cleveland Cavaliers,2024-01-24,D,Bucket Cap
3,2023,1,2024-01-24 Cleveland Cavaliers,2024-01-24,D,Bucket Cap
4,2023,1,2024-01-24 Cleveland Cavaliers,2024-01-24,D,Bucket Cap
...,...,...,...,...,...,...
493879,2024,15667,2025-04-10 New Orleans Pelicans,2025-04-10,D,NaN
493880,2024,15667,2025-04-08 Minnesota Timberwolves,2025-04-08,B,NaN
493881,2024,15667,2025-04-08 Minnesota Timberwolves,2025-04-08,B,NaN
493882,2024,15667,2025-04-08 Minnesota Timberwolves,2025-04-08,B,NaN
493883,2024,15667,2025-04-08 Minnesota Timberwolves,2025-04-08,B,NaN

,Season,AccountNumber,SingleGameTickets,PartialPlanTickets,GroupTickets,STM,AvgSpend,GamesAttended,FanSegment,DistanceToArena,BasketballPropensity,SocialMediaEngagement
0,2023,1,0,0,0,0,467.00,0,F,12.0,872.0,Low
1,2023,2,2,0,0,0,116.00,1,A,47.0,485.0,Low
2,2023,3,3,0,0,0,107.00,1,B,6.0,896.0,Low
3,2023,4,0,0,3,0,27.00,1,C,3.0,467.0,High
4,2023,5,0,0,2,0,14.00,1,A,4.0,582.0,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...
44206,2024,43025,2,0,0,0,2.00,1,A,26.0,290.0,High
44207,2024,43026,0,0,3,0,6.34,1,D,6.0,266.0,Medium
44208,2024,43027,0,0,6,0,41.00,1,Limited Data,9.0,392.0,High
44209,2024,43028,2,0,0,0,68.00,1,A,6.0,898.0,High
44210,2024,15667,0,0,0,1,144.00,0,G,10.0,385.0,Medium

<h3 style="color: #8b5e3c">Extracting a Row for Validation</h3>
Next, we extract observations for each dataset to where we expect that both observations would merge. In this case, we merge based on the `AccountNumber`. We extract the following as shown below.

In [7]:
# the row for account number
account_row = account_df.iloc[44210]
print(account_row)

Season                     2024
AccountNumber             15667
SingleGameTickets             0
PartialPlanTickets            0
GroupTickets                  0
STM                           1
AvgSpend                  144.0
GamesAttended                 0
FanSegment                    G
DistanceToArena            10.0
BasketballPropensity      385.0
SocialMediaEngagement    Medium
Name: 44210, dtype: object

In [9]:
# the row for game & seat level
game_seat_row = game_seat_df.loc[game_seat_df.apply(lambda row: row.astype(str).str.contains('15667').any(), axis=1)]
print(game_seat_row)

        Season  AccountNumber                               Game    GameDate  \
74606     2023          15667       2024-04-03 Memphis Grizzlies  2024-04-03
74607     2023          15667       2024-04-03 Memphis Grizzlies  2024-04-03
74608     2023          15667       2024-04-03 Memphis Grizzlies  2024-04-03
74609     2023          15667           2023-12-02 Atlanta Hawks  2023-12-02
74610     2023          15667           2023-12-02 Atlanta Hawks  2023-12-02
...        ...            ...                                ...         ...
493879    2024          15667    2025-04-10 New Orleans Pelicans  2025-04-10
493880    2024          15667  2025-04-08 Minnesota Timberwolves  2025-04-08
493881    2024          15667  2025-04-08 Minnesota Timberwolves  2025-04-08
493882    2024          15667  2025-04-08 Minnesota Timberwolves  2025-04-08
493883    2024          15667  2025-04-08 Minnesota Timberwolves  2025-04-08

       GameTier Giveaway
74606         D      NaN
74607         D      NaN
74608         D      NaN
74609         C      NaN
74610         C      NaN
...         ...      ...
493879        D      NaN
493880        B      NaN
493881        B      NaN
493882        B      NaN
493883        B      NaN

[328 rows x 6 columns]

<h3 style="color: #8b5e3c">Merging the Two Datasets</h3>
Now that we've imported the datasets as pandas dataframes, we now create a new dataframe by merging two tables together. The feature that is in common with both datasets is the AccountNumber feature. As a result, we perform what is otherwise called a composite key. The type of merge we aim for is a left merge.

In [13]:
# merging the two datasets together
account_game_seat_df = pd.merge(game_seat_df, account_df, on='AccountNumber', how='left')
display(account_game_seat_df.head(3))

,Season_x,AccountNumber,Game,GameDate,GameTier,Giveaway,Season_y,SingleGameTickets,PartialPlanTickets,GroupTickets,STM,AvgSpend,GamesAttended,FanSegment,DistanceToArena,BasketballPropensity,SocialMediaEngagement
0,2023,1,2024-01-24 Cleveland Cavaliers,2024-01-24,D,Bucket Cap,2023,0,0,0,0,467.0,0,F,12.0,872.0,Low
1,2023,1,2024-01-24 Cleveland Cavaliers,2024-01-24,D,Bucket Cap,2023,0,0,0,0,467.0,0,F,12.0,872.0,Low
2,2023,1,2024-01-24 Cleveland Cavaliers,2024-01-24,D,Bucket Cap,2023,0,0,0,0,467.0,0,F,12.0,872.0,Low

<h3 style="color: #8b5e3c">Validating the Merge</h3>
Next, we move on to validating the merge. We achieve this by checking if the rows that we checked before merging are the same as after merging. As a result, we display the data from the rows on `AccountNumber` of 15667.

In [14]:
account_game_seat_row = account_game_seat_df.loc[account_game_seat_df.apply(lambda row: row.astype(str).str.contains('15667').any(), axis=1)]
print(account_game_seat_row)

        Season_x  AccountNumber                               Game  \
92263       2023          15667       2024-04-03 Memphis Grizzlies
92264       2023          15667       2024-04-03 Memphis Grizzlies
92265       2023          15667       2024-04-03 Memphis Grizzlies
92266       2023          15667       2024-04-03 Memphis Grizzlies
92267       2023          15667       2024-04-03 Memphis Grizzlies
...          ...            ...                                ...
531336      2024          15667  2025-04-08 Minnesota Timberwolves
531337      2024          15667  2025-04-08 Minnesota Timberwolves
531338      2024          15667  2025-04-08 Minnesota Timberwolves
531339      2024          15667  2025-04-08 Minnesota Timberwolves
531340      2024          15667  2025-04-08 Minnesota Timberwolves

          GameDate GameTier Giveaway  Season_y  SingleGameTickets  \
92263   2024-04-03        D      NaN      2023                  0
92264   2024-04-03        D      NaN      2024                  0
92265   2024-04-03        D      NaN      2023                  0
92266   2024-04-03        D      NaN      2024                  0
92267   2024-04-03        D      NaN      2023                  0
...            ...      ...      ...       ...                ...
531336  2025-04-08        B      NaN      2024                  0
531337  2025-04-08        B      NaN      2023                  0
531338  2025-04-08        B      NaN      2024                  0
531339  2025-04-08        B      NaN      2023                  0
531340  2025-04-08        B      NaN      2024                  0

        PartialPlanTickets  GroupTickets  STM  AvgSpend  GamesAttended  \
92263                    0             0    1      92.0              1
92264                    0             0    1     144.0              0
92265                    0             0    1      92.0              1
92266                    0             0    1     144.0              0
92267                    0             0    1      92.0              1
...                    ...           ...  ...       ...            ...
531336                   0             0    1     144.0              0
531337                   0             0    1      92.0              1
531338                   0             0    1     144.0              0
531339                   0             0    1      92.0              1
531340                   0             0    1     144.0              0

       FanSegment  DistanceToArena  BasketballPropensity SocialMediaEngagement
92263           G             10.0                 911.0                  High
92264           G             10.0                 385.0                Medium
92265           G             10.0                 911.0                  High
92266           G             10.0                 385.0                Medium
92267           G             10.0                 911.0                  High
...           ...              ...                   ...                   ...
531336          G             10.0                 385.0                Medium
531337          G             10.0                 911.0                  High
531338          G             10.0                 385.0                Medium
531339          G             10.0                 911.0                  High
531340          G             10.0                 385.0                Medium

[656 rows x 17 columns]

In [15]:
# printing out the details of the new data frame
display(account_game_seat_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531341 entries, 0 to 531340
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Season_x               531341 non-null  int64
 1   AccountNumber          531341 non-null  int64
 2   Game                   531341 non-null  object
 3   GameDate               531341 non-null  object
 4   GameTier               531341 non-null  object
 5   Giveaway               110934 non-null  object
 6   Season_y               531341 non-null  int64
 7   SingleGameTickets      531341 non-null  int64
 8   PartialPlanTickets     531341 non-null  int64
 9   GroupTickets           531341 non-null  int64
 10  STM                    531341 non-null  int64
 11  AvgSpend               531341 non-null  float64
 12  GamesAttended          531341 non-null  int64
 13  FanSegment             531341 non-null  object
 14  DistanceToArena        511450 non-null  float64
 15  BasketballPropensity   441090 non-null  float64
 16  SocialMediaEngagement  531341 non-null  object
dtypes: float64(3), int64(8), object(6)
memory usage: 68.9+ MB

None

<h3 style="color: #8b5e3c">Converting to a `.csv` file</h3>
Now that we've completed our merge and are confident with the results, we can finally convert our dataset into a .csv file and have an opportunity to perform data visualization.

In [16]:
# converting data frame to a .csv file
account_game_seat_df.to_csv('C:/GitHub/BucksHackathon25/BucksBusinessObjectives/BucksDatasets/ALGLSL.csv', index='False')